<!DOCTYPE html>
<html>
<head>
	<title>Python Flask Simple Shopping Cart</title>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
	{% extends "Base.html" %}
	{% block nav %}
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('.home') }}"> Home </a>
          </li>
      </ul>
  {% endblock %}
	{% block content %}
	<div>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
	</div>

	<div id="shopping-cart" style="margin-top:100px">
		<div class="txt-heading text-center"><strong><u>Shopping Cart</u></strong></div>
		{% if session['cart_item']|length > 0  %}
			<a id="btnEmpty" href="{{ url_for('.empty_cart') }}">Empty Cart</a>
			<table class="tbl-cart" cellpadding="10" cellspacing="1">
			<tbody>
				<tr>
					<th style="text-align:left;">Image</th>
					<th style="text-align:left;">Name</th>
					<th style="text-align:right;" width="5%">Quantity</th>
					<th style="text-align:right;" width="10%">Unit Price</th>
					<th style="text-align:right;" width="10%">Price</th>
					<th style="text-align:center;" width="5%">Remove</th>
				</tr>

				{% for key, val in session['cart_item'].items() %}
					{% set quantity = session['cart_item'][key]['quantity'] %}
					{% set price = session['cart_item'][key]['price'] %}
					{% set item_price = session['cart_item'][key]['total_price'] %}
					<tr>
						<td><img src={{ url_for('static',filename= session['cart_item'][key]['image'] )}} class="cart-item-image" height="180" width="250"/></td>
						<td>{{ session['cart_item'][key]['title'] }}</td>
						<td style="text-align:right;">{{ quantity }}</td>
						<td  style="text-align:right;">₹ {{ price }}</td>
						<td  style="text-align:right;">₹ {{ item_price }}</td>
						<td style="text-align:center;">
							<a href="{{ url_for('.delete_product', pid=session['cart_item'][key]['id']) }}" class="btnRemoveAction">
								Remove Item
							</a>
						</td>
					</tr>
				{% endfor %}

				<tr>
					<td colspan="2" align="right">Total:</td>
					<td align="right">{{ session['all_total_quantity'] }}</td>
					<td align="right" colspan="2"><strong>₹ {{ session['all_total_price'] }}</strong></td>
					<td></td>
				</tr>
				<tr>
					<td >
						<div class="row justify-content-md-end">
							<form method="POST" action="/checkout">
								<input type="submit" value="Check Out" class="btn btn-primary" />
							</form>
						</div>
					</td>

				</tr>
			</tbody>
			</table>

		</div>
		{% else: %}
			<div class="no-records text-center mt-5">Your Cart is Empty</div>
		{% endif %}


  {% endblock %}
</body>
</html>
